body {
    width: 100%;
    margin: 0;
    height: 100vh;
    background-color: red;
}
.bodyd {
    display: flex;
    flex-direction: column;
    /*min-height: 737px;*/
    width: 100%;
    margin: 0;
    background-color: azure;
}

.head{
    
  
    background-color:black;
    height:100px;
    padding:0px;
    width:100%;
    margin-top:0px;
}
.hh1 {
    font-size: 40px;
    color: aqua;
    margin-left: 30px;
    padding-top:0px;
    
}
.ph1{
    color:white;
    font-size:20px;
    margin-top:-55px;
    margin-left:230px;
    
}
.main {
    display:flex;
    flex-direction:column;
    width:40%;
    float:left;
    margin-bottom:0px;
   
}
.pic {
    height:300px;
    width:30%;
    float:left;
    margin-top:100px;
    margin-left:20%
  
}
.divm {
    flex-grow:1;
  margin-bottom:0px;
  width:100%;
   
}



.foot{
    
   
    background-color:black;
    height:100px;
   bottom:0px;
    width:100%;
    
}

.hf1{
    margin-left:50px;
    margin-bottom:50px;
 color:aqua;
}


.divf{
    display:flex;
    justify-content:center;
    margin-top:-90px;
    margin-left:500px;
}
.divf a{
    padding:20px;
    color:white;
    height:20px;
}
    .divf a i {
      font-size:30px
    }
.pm{
    margin-top:50px;
    margin-left:20px;
    
}
.span1{
   
    font-size:40px;
    font-weight:bold;
}
.span2 {
    
    font-size: 25px;
    font-weight: bold;
}
.btn {
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 30px;
    height: 30px;
    cursor: pointer;
    width:20%;
}

.imgst{
    width:100%;
    height:300px;
    border-radius:20px;
    


}



