body {
    background-color: azure;
    height:100vh;
    width: 100%;
    margin: 0px;

}

.h1 {
    margin-top: 40px;
    text-align:center;
    font-size: 40px;
}

.h2 {
    margin-left: 40%;
    font-size: 30px;
}

.k {
    height: 100px;
    width: 300px;
    margin-top: 10px;
    background-color: aquamarine;
    border: dotted;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
 
}

    .k#a1 {
        margin-top: 0px
    }

    .k#a3{
        margin-bottom:50px;
      
    }

.bodyd {
   min-height:100vh;
    width: 100%;
    margin: 0;
    background-color: azure;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.center {
    background-color: azure;
    top: 0px;
    flex-grow:1;
    width: 100%;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.head {
    background-color: black;
    height: 100px;
    padding: 0px;
    width: 100%;
    margin-top: 0px;
}

.hh1 {
    font-size: 40px;
    color: aqua;
    margin-left: 30px;
    padding-top: 0px;
}

.ph1 {
    color: white;
    font-size: 20px;
    margin-top: -55px;
    margin-left: 230px;
}

.divm {
}



.foot {
   
    background-color: black;
    height: 100px;
    bottom: 0px;
    width: 100%;
}

.hf1 {
    margin-left: 50px;
    margin-bottom: 50px;
    color: aqua;
}


.divf {
    display: flex;
    justify-content: center;
    margin-top: -90px;
    margin-left: 500px;
}

    .divf a {
        padding: 20px;
        color: white;
        height: 20px;
    }

        .divf a i {
            font-size: 30px
        }

.pm {
    margin-top: 50px;
    margin-left: 20px;
}

.span1 {
    font-size: 40px;
    font-weight: bold;
}

.span2 {
    font-size: 25px;
    font-weight: bold;
}

.btn {
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 30px;
    height: 30px;
    cursor: pointer;
}

.imgst {
    margin-left: 800px;
    margin-top: -300px;
    height: 300px;
    border-radius: 20px;
}


